protocols = imap pop3 lmtp
disable_plaintext_auth = no
auth_mechanisms = plain login

ssl = yes
ssl_min_protocol = TLSv1.2
ssl_cert = </etc/letsencrypt/live/{{ mailserver.hostname }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ mailserver.hostname }}/privkey.pem
ssl_prefer_server_ciphers = yes

log_path = /var/log/dovecot.log
# debug_log_path = /var/log/dovecot.debug
# auth_verbose = yes
# auth_debug_password = no
# auth_debug = yes
# mail_debug = no
# verbose_ssl = yes

mail_location = maildir:/var/mail/storage/%n:LAYOUT=fs
mail_home = /var/mail/other/%n

passdb {
    driver = passwd-file
    args = scheme=SHA512-CRYPT username_format=%u /etc/dovecot/credentials.passwd
}

userdb {
    driver = passwd-file
    args = username_format=%u /etc/dovecot/credentials.passwd
    default_fields = uid=vmail gid=vmail
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
    user = postfix
    group = postfix
  }
}

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    mode = 0660
    user = postfix
    group = postfix
  }
}

protocol lmtp {
  postmaster_address = {{ contact.email|default([ "contact@" ~ hostname ])|first }}
}

namespace inbox {
  type = private
  separator = "."
  inbox = yes
  # prefix =
  # ^ Why?
  mailbox Sent {
    auto = subscribe
    special_use = \Sent
  }
}
