{%- set default_muc = default_muc|default(jabberserver.settings.default_muc) -%}
{%- set default_rooms = default_rooms|default(jabberserver.settings.default_rooms|default(None)) -%}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ConverseJS XMPP webchat</title>
    <link rel="shortcut icon" type="image/ico" href="dist/images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" media="screen" href="dist/converse.min.css" />
    <script charset="utf-8" src="dist/converse.min.js"></script>
</head>
<body class="converse-fullscreen">
<div id="conversejs-bg"></div>
<noscript>
   <h1 id="ConverseJS-webchat">ConverseJS XMPP web-chat</h1>
   <p>Sorry, looks like the <a href="https://conversejs.org/">Converse.js</a>XMPP chat application couldn’t be loaded. Maybe you disabled JavaScript, in which case we respect that, or maybe there is a problem loading it.</p>
   <p>Here are some other XMPP clients you could try, if you already have an XMPP account:</p>
   <dl>
   <dt>Desktop</dt>
   <dd><ul>
   <li><a href="https://gajim.org/">Gajim</a></li>
   <li><a href="https://dino.im/">Dino</a></li>
   <li><a href="https://swift.im/">Swift</a></li>
   </ul>
   </dd>
   <dt>Mobile</dt>
   <dd><ul>
   <li><a href="https://github.com/siacs/Conversations">Conversations</a></li>
   <li><a href="https://yaxim.org/">Yaxim</a></li>
   <li><a href="https://monal.im/">Monal.im for iOS</a></li>
   </ul>
   </dd>
   </dl>
   <p><a href="https://xmpp.org/software/clients.html">More clients...</a></p>
   <p> Join us here: <a href="xmpp:chat@joinjabber.org?join">chat@joinjabber.org</a></p>
</noscript>
<script>
    if(typeof converse == 'undefined') {
	var div = document.createElement("div");
	var noscript = document.getElementsByTagName("noscript")[0];
	div.innerHTML = noscript.innerText;
	document.body.appendChild(div);
    }

    let config = {
	websocket_url: 'wss://{{ host }}/xmpp-websocket/',
        enable_smacks: true,
	bosh_service_url: 'https://{{ host }}/http-bind/',
        discover_connection_methods: false,
        authentication: 'anonymous',
	jid:"{{ host }}",
        //auto_login: true,
        allow_registration: false,
	default_domain: '{{ host }}',
        persistent_store: 'sessionStorage',
        auto_away: 300,
        auto_xa: 1800,
        csi_waiting_time: 900,
        auto_reconnect: true,
        muc_show_logs_before_join: true,
        allow_non_roster_messaging: false,
        allow_chat_pending_contacts: false,
        show_send_button: true,
        hide_muc_participants: false,
        message_archiving: 'always',
	muc_domain: '{{ default_muc }}',
        locked_muc_domain: true,
{% if default_rooms %}
        auto_join_rooms: [{% for room in default_rooms %} "{{ room }}"{% if not loop.last %},{% endif %}{% endfor %} ],
{% endif %}
        allow_muc_invitations: true,
        allow_adhoc_commands: false,
        view_mode: 'fullscreen',
        roster_groups: false,
        show_client_info: true,
        theme: 'default'
    };

    converse.initialize(config);

</script>
</body>
</html>
